.App {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  margin-left:35%;
  margin-right:35%;
  border-style: solid;
  padding: 20px;
  border-radius: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 20px 20px 30px black;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wethcon{
  border-style: solid;
  height:260px;
  width:300px;
  display: inline-table;
  border-radius: 50px;
}

.App input{
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  height:30px;
}

.details{
  text-align: left;
  margin-left:5%;
  width:200px;
}

.logo{
  font-size:55px;
  padding-left:2%;
}

.nm{
font-size:40px;
}
.dark{
  border-style: solid;
  font-size: 17px;
  margin-top: 20px;
  border-radius: 50px;
}

.dark:hover{
  cursor: pointer;
  transform: scale(1.06);
  color:white;
  background-color: black;
}

